<div class="about-image">
  <img src="../../assets/about-img.png" alt="about-image" />
</div>
<div class="content">
  <h2 style="font-weight: bold">
    Welcome to our Todo Tracker Application, your ultimate companion in
    productivity! We understand the demands of your dynamic lifestyle, and
    that's why we've crafted a seamless Todo Tracker application to help you
    stay organized and on top of your tasks.
  </h2>
</div>
<br /><br />
<div class="text">
  <h2><b>Why Todo Tracker ?</b></h2>
  <h3>
    At Todo Tracker, we believe that productivity is not just about getting
    things done; it's about achieving a sense of accomplishment and balance in
    your life. Our Todo Tracker is designed with this philosophy in mind,
    offering you a powerful tool to manage your tasks efficiently and with ease.
  </h3>
  <h3>
    <b>Intuitive Design:</b> Our user-friendly interface ensures that you can
    navigate through your tasks effortlessly. With a clean and intuitive design,
    Todo Tracker Application makes managing your to-do's a breeze.
  </h3>
  <h3>
    <b>Performance Analytics:</b> Track your productivity over time with
    insightful analytics. Understand your patterns, identify trends, and
    optimize your workflow for maximum efficiency.
  </h3>
  <h3>
    <b>Privacy and Security:</b> Your data is your own. Todo Tracker Application
    prioritizes your privacy and ensures the security of your information. Rest
    easy knowing that your tasks and personal details are safe and protected.
  </h3>
  <h3>
    Our Todo Tracker Application is more than just a Todo Tracker; it's your
    partner in success. Join the countless users who have already transformed
    the way they manage their tasks and unlock your full potential with our
    intuitive and feature-rich application.
  </h3>
  <h2 style="margin-bottom: 30px">
    <b>
      Register Todo Tracker Application today and take the first step towards a
      more organized, productive, and fulfilling life!</b
    >
  </h2>
</div>

<div class="team">
  <h1 style="text-align: center; margin-top: 10px"><b>Team Members</b></h1>
  <br />
  <div class="row">
    <div class="member col-md-4" style="border-right: 1px solid black">
      <img class="photo" src="../../assets/chitranshu.jpg" alt="member-1" />
      <h1><b>Chitranshu Varshney</b></h1>
      <h2><b>Team Leader</b></h2>
      <h2>BTech (Computer Science Engineering)</h2>
      <mat-icon>email</mat-icon>
      <h2>chitranshuvarshney1999@gmail.com</h2>
    </div>
    <div class="member col-md-4" style="border-right: 1px solid black">
      <img class="photo" src="../../assets/jyoti.jpeg" alt="member-2" />
      <h1><b>Jyoti Rana</b></h1>
      <h2>M.Sc (Computer Science)</h2>
      <mat-icon>email</mat-icon>
      <h2>jyotirana7117@gmail.com</h2>
    </div>
    <div class="member col-md-4">
      <img class="photo" src="../../assets/rohit.jpeg" alt="member-3" />
      <h1><b>Rohit Nagar</b></h1>
      <h2>MBA (HR Finance)</h2>
      <mat-icon>email</mat-icon>
      <h2>nagarrohit040@gmail.com</h2>
    </div>
  </div>
</div>
