<div class="wrapper">
  <img src="../../assets/home.png" alt="home-image" class="home-img" />

  <div class="right-text">
    <h1><b>Welcome to Todo Tracker Application !</b></h1>

    <mat-card-title class="text">
      Stay organized and boost your productivity with our powerful todo tracker.
      Manage your personal todos and work tasks with us. Here's why our Todo
      Tracker is the perfect choice for you:

      <br /><br />
      ✅ Effortless Task Management: Quick Add to capture and organize tasks in
      seconds.

      <br /><br />
      ✅ Priority levels to highlight the day’s most important tasks.Labels and
      filters to help you organize your tasks

      <br /><br />

      ✅ Secure and Private: Your tasks are personal, and so is our commitment
      to your privacy. Rest easy knowing your data is safe with us.
      <br /><br />
      ✅ Use automations to send yourself reminders via text, emails, or push
      notifications for when tasks are due.

      <br /><br />
      ✅ Don’t be shy about sending tasks to other team members who can do a
      better job in a shorter amount of time.
      <br /><br />
      ✅ Deadlines for list items
      <br /><br />
    </mat-card-title>
    <br />
    <button
      mat-raised-button
      color="primary"
      class="button"
      routerLink="/about"
    >
      About Us
    </button>
  </div>
</div>
